/*fonts ----------------------------------------------*/

h1 span{
    font-size: 90pt;
    color: rgb(40,40,40);
}
h1{
    font-size: 76pt;
    font-family: "ff-cocon-pro-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(239 223 202);
    line-height: 80%;
}
h3{
    font-family: "ff-cocon-pro-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(224 166 36);
    font-size: 25pt;
}
h4{
    font-size: 25px;
    font-family: "ff-real-headline-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(239 223 202);
}
p, li{
    font-family: "ff-real-headline-pro", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgb(40,40,40);
    font-size: 15px;
}
li{
    line-height: 3.549;
}
strong{
    font-family: "ff-cocon-pro-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}
/*other----------------------------------------*/
body{
    margin:0;
    padding:0;
    background-color: rgb(40,40,40)
}
/*sidebar------------------------*/
.sidebar{
    background-color:rgb(224 166 36);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    width: 400px;
    position: relative;
    bottom: 80px;
    right: 15px;
    z-index: 1;
}
.sidebar img{
    position: relative;
    width: 500px;
    height: 500px;
    right: 175px;
}
/*content box------------------------*/
.content{
    position: relative;
    bottom: 1032px; 
    width: 100%;
}
/*header------------------------*/
.header{
    background-color:rgb(76,76,76);
    position: relative;
    float: top;
    height: 160px;
    width: 100%;
}
.header img{
    position: relative;
    float: right;
}
/*icons------------------------*/
.icons{
    background-color: rgb(40,40,40);
    position: relative;
    bottom: 3px;
    border-bottom: 5px solid rgb(224 166 36);
    width: 100%;
    padding-left: 400px;
    padding-right: 20px;
    float: right;
    height: 250px;
}
.iconsBox{
    position: relative;
    float: right;
    width: 650px;
    height: 200px;
    top: 5px;
}
.icons h3{
    position: relative;
    float: right;
    right: 730px;
    bottom: 30px;
}
#microwave{
    position: relative;
    top: 50px;
    float: right;
    right: 590px
}
#bowl{
    position: relative;
    top: 50px;
    float: right;
    right:220px;
}
#seasoning{
    position: relative;
    top: 50px;
    float: right;
    left: 150px;
}
.icons h4{
    position: relative;
    width: 300px;
    float: right;
    margin: 0;
}
#textMicrowave{
    position: relative;
    float:right;
    top:65px;
    right: 655px;
}
#textBowl{
    position: relative;
    float: right;
    top: 65px;
    right: 160px;
}
#textSeasoning{
    position: relative;
    float:right;
    top: 30px;
    right: 180px;
}
/*steps------------------------*/
.steps{
    background-color: rgb(239 223 202);
    position: relative;
    width: 100%;
    float: right;
    padding-left: 400px;
    padding-right: 20px;
    padding-top: 22px;
    padding-bottom: 23px;
    bottom: 3px;
}
.stepsP{
    position: relative;
    float: right;
    width: 572px;
    right: 300px;
    bottom: 10px;
}
hr{
    height: 2px;
    background-color: rgb(76,76,76);
    border: 0px;
}
.steps ol{
    position: relative;
    float: right;
    right: 130px;
    list-style: none;
}
.steps li {
    counter-increment: step-counter;
    margin-bottom: 5px;
}
.steps li::before {
    content: counter(step-counter);
    margin-right: 20px;
    font-size: 100%;
    background-color: rgb(224 166 36);
    color: rgb(239 223 202);
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 100px;
}
/*footer------------------------*/
.footer{
    background-color: rgb(40,40,40);
    height: auto;
    position: relative;
    bottom: 1059px;
    z-index: 2;
    float: right;
    width: 100%;
} 
#footerText{
    font-weight: 200;
    font-style: normal;
    color: rgb(239 223 202);
    text-align: center;
}
.footer img{
    width: 100%;
}

/*
.main::after{
    content: "";
    display: table;
    clear: both;
}
*/

html, body, .main{
    height: 1150px;
}
